<section class="mangaList">
  <ul *ngIf="listStyle" class="list-unstyled listGrid">
    <li *ngFor="let manga of allTitlesListing" class="mangaTitle">
      <article class="container-fluid">
        <div class="col-md-2 col-sm-3 col-xs-4 mainImage"><img [src]="manga.cover" alt="{{ manga.name }}" title="{{ manga.name }}" class="img-responsive center-block" /></div>
        <div class="col-md-10 col-sm-9 col-xs-8">
          <h2>{{ manga.name }}</h2>
          <p [innerHTML]="manga.info" class="hidden-xs"></p>
          <small class="status"><strong>Status:</strong> {{ manga.status }}</small>
          <nav>
            <button class="btn btn-primary" routerLink="/details/{{manga.href}}">
              <i class="fa fa-info-circle"></i> Manga Info
            </button>
            <button class="btn btn-primary" (click)="addFavourite(manga)">
              <i class="fa" [ngClass]="{'fa-heart': checkFavourite(manga), 'fa-heart-o': !checkFavourite(manga)}"></i> Add to favourites
            </button>
            <button class="btn btn-primary" routerLink="/chapter/{{manga.href}}/1">
              <i class="fa fa-book"></i> Start Reading
            </button>
          </nav>
        </div>
      </article>
    </li>
  </ul>
  <ul *ngIf="!listStyle" class="list-unstyled thumbGrid">
    <li *ngFor="let manga of allTitlesListing">
      <nav>
        <button class="btn btn-primary" routerLink="/details/{{manga.href}}">
          <i class="fa fa-info-circle"></i>
        </button>
        <button class="btn btn-primary" (click)="addFavourite(manga)">
          <i class="fa" [ngClass]="{'fa-heart': checkFavourite(manga), 'fa-heart-o': !checkFavourite(manga)}"></i>
        </button>
        <button class="btn btn-primary" routerLink="/chapter/{{manga.href}}/1">
          <i class="fa fa-book"></i>
        </button>
      </nav>
      <img [src]="manga.cover" alt="{{ manga.name }}" title="{{ manga.name }}" />
      <div class="title">{{ manga.name }}</div>
    </li>
  </ul>
</section>
