.mangaPage {
  padding-left: 0;
  padding-right: 0;

  img {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.chapterOverlay {
  position: fixed;
  top: 50%;
  color: $color-white;
  padding: 6px 12px;
  background: rgba($color-black, 0.6);
  border: none;
  cursor: pointer;
  z-index: 999;
}

.chapterNext {
  right: 0;
}

.chapterPrev {
  left: 0;
}
