<section class="container-fluid nav-holder" [ngClass]="{'hideMenu' : !showMenu }">
  <article class="row">
    <nav class="col-md-12 main-nav">
      <ul class="list-inline">
        <li *ngIf="!hideMenu" class="list-inline-item">
          <button class="btn btn-primary" title="Recommended" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-diamond"></i> <span class="hidden-xs">Recommended</span></button>
        </li>
        <li *ngIf="!hideMenu" class="list-inline-item">
          <button class="btn btn-primary" title="All Titles" routerLink="/all" [routerLinkActive]="['active']"><i class="fa fa-list-alt"></i> <span class="hidden-xs">All Titles</span></button>
        </li>
        <li *ngIf="!hideMenu" class="list-inline-item">
          <button class="btn btn-primary" title="Night Mode" (click)="setNightTime()">
            <i class="fa fa-moon-o"></i>
          </button>
        </li>
        <li *ngIf="!hideMenu && section === 'recommended' || section === 'all-titles'" class="list-inline-item">
          <button class="btn btn-primary" (click)="listStyle = !listStyle"><i class="fa" [ngClass]="{'fa-list-ol': !listStyle, 'fa-th': listStyle}"></i></button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary" (click)="hideMenu = !hideMenu"><i class="fa fa-bars"></i> <i class="fa fa-chevron-left" [ngClass]="{'fa-chevron-left': !hideMenu, 'fa-chevron-right': hideMenu}"></i></button>
        </li>
        <li *ngIf="!isLoading && section === 'chapter'" class="list-inline-item">
          <button class="btn btn-primary nav-toggle-button" title="Show/Hide Menu" (click)="toggleMenu()">
            <i class="fa" [ngClass]="{'fa-chevron-down': !showMenu, 'fa-chevron-up': showMenu}"></i>
          </button>
        </li>
        <li *ngIf="!isLoading && section === 'chapter' && hideMenu" class="chapterDetailsHolder list-inline-item">
          <div class="chapterDetails">
            <strong>Chapter</strong>: {{chapterNumber}}/{{chapterTotalNumber}}
            <strong>Page</strong>: {{pageNumber}}/{{pageTotalNumber}}
          </div>
        </li>
      </ul>
    </nav>
  </article>
</section>
